.metadata/.plugins/org.eclipse.core.resources/.projects/MyTest/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/MyTest/org.eclipse.wst.jsdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Test/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Test/org.eclipse.wst.jsdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/VideoLib/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/VideoLib/org.eclipse.wst.jsdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/12.tree
