.tbl{
	display: table;
	border: 0px solid red;
}
.tblTr{
	display: table-row;
	border: 0px solid green;
}
.tblTd{
	display: table-cell;
	border: 0px solid orange;
	vertical-align: top;
}
.padd5{padding: 5px;}
.w100{width: 100%;}
.w50{width: 50%;}
.cursorPoint{cursor: pointer;}
.thumb{
	margin-left: 10px;
	margin-bottom: 10px;
}
.nowrap{white-space: nowrap;}
.margLeft5{margin-left: 5px;}
.bold{font-weight: bold;}
.vamid{vertical-align: middle;}
.margTop10{margin-top: 10px;}
.right{text-align: right;}
div#commentCont{height: 300px; overflow: auto;}
.vtitle{font-weight: bold;}
.vval{}
.vidDetailsSpacer{height: 10px;}
div#playerContainer{
	border:0px solid red; 
	vertical-align: top;
}
video{
	width: 500px;
	height: 290px;
}
.displayed{display: block;}
.hidden{display: none;}
div#commentConf{position:absolute; text-align: center; padding: 10px 10px 10px 12px; font-weight: bold;}